<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Homepage</title>
</head>
<body>
    <h1>Welcome to the Homepage</h1>
    <p>Please select an option:</p>
    <ul>
        <li><a href="data.html"><button>View database</button></a></li>
        <li><a href="ages-20-to-40.html"><button>Age 20 to 40</button></a></li>
        <li><a href="male-vs-female.html"><button>Male vs Female</button></a></li>
        <li><a href="cancer-for-obese"><button>Chances of Cancer for Obese People</button></a></li>
    </ul>
</body>
</html>
